{% extends "layout.html" %}
{% block body_contents %}
<div class="row">
  <div class="col-sm-12">
    <div class="card border-primary mb-3 text-center">
      <div class="card-header bg-primary text-white">
        <small>post created by <a href="{{url_for('profile', z_id=pcr['user'])}}">{{pcr["user"]}}</a> at {{ pcr["created_at"]}}</small>
        {% if pcr["user"] == session["current_user"]%}
          <form style="display:inline;" class="col-sm-3 form-inline" action="{{url_for('delete_post')}}" method="post">
            <input type="hidden" value="{{pcr["id"]}}" name="post_id">
            <button class="btn btn-md btn-danger my-2 my-sm-0" type="submit">Delete</button>
          </form>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">
          {%if pcr["media_type"] == "text"%}
            <p class="card-text">{{ pcr["message"]}}</p>
          {%elif pcr["media_type"] == "image"%}
            <img src="{{url_for('static', filename=pcr['content_path'])}}">
          {%elif pcr["media_type"] == "video"%}
            <video width="320" height="240" controls>
              <source src="{{url_for('static', filename=pcr['content_path'])}}" >
            </video>
          {%endif%}
        </p>
      </div>
      <div class="card-footer">
        <form  style="margin:0 auto;" action={{url_for('newcomment')}} method="post" class="col-sm-3 form-inline" >
          <div class="form-group">
            <button class="btn btn-md btn-warning my-2 my-sm-0" type="submit">Comment</button>
            <input class="form-control" type="text" name="message" placeholder="Enter a Comment" required="true"></input>
            <input type="hidden" value="{{pcr["id"]}}" name="post_id">
          </div>
        </form>
        <form  action={{url_for('newcomment')}} method="post" class="col-sm-3 form-inline" style="margin:0 auto"  enctype="multipart/form-data">
          <div class="form-group">
            <button class="btn btn-md btn-warning my-2 my-sm-0" type="submit">Upload Media Comment</button>
            <input type="hidden" value="{{pcr["id"]}}" name="post_id">
            <input type="file" name="media" accept="image/*|video/*">
          </div>
        </form>
      </div>
    </div>
  </div>
      {% for comment in pcr["comments"]%}
      <div class="col-sm-11 offset-sm-1">

          <div class="card border-warning mb-3 text-center">
            <div class="card-header bg-warning text-white">
              <small>comment created by <a href="{{url_for('profile', z_id=comment['user'])}}">{{comment["user"]}}</a> at {{ comment["created_at"]}}</small>
              {% if comment["user"] == session["current_user"]%}
                <form style="display:inline;" class="col-sm-3 form-inline" action="{{url_for('delete_comment')}}" method="post">
                  <input type="hidden" value="{{comment["id"]}}" name="comment_id">
                  <button class="btn btn-md btn-danger my-2 my-sm-0" type="submit">Delete</button>
                </form>
              {% endif %}
            </div>
            <div class="card-body ">
              {%if comment["media_type"] == "text"%}
                <p class="card-text">{{ comment["message"]}}</p>
              {%elif comment["media_type"] == "image"%}
                <img src="{{url_for('static', filename=comment['content_path'])}}">
              {%elif comment["media_type"] == "video"%}
                <video width="320" height="240" controls>
                  <source src="{{url_for('static', filename=comment['content_path'])}}" >
                </video>
              {%endif%}
            </div>
            <div class="card-footer">
              <form  style="margin:0 auto;" action={{url_for('newreply')}} method="post" class="col-sm-3 form-inline" >
                <div class="form-group">
                  <button class="btn btn-md btn-success my-2 my-sm-0" type="submit">Reply</button>
                  <input class="form-control" type="text" name="message" placeholder="Enter a Reply" required="true"></input>
                  <input type="hidden" value="{{comment["id"]}}" name="post_id">
                  <input type="hidden" value="{{comment["comment"]}}" name="comment_id">
                </div>
              </form>
              <form  action={{url_for('newreply')}} method="post" class="col-sm-3 form-inline" style="margin:0 auto"  enctype="multipart/form-data">
                <div class="form-group">
                  <button class="btn btn-md btn-success my-2 my-sm-0" type="submit">Upload Media Reply</button>
                  <input type="hidden" value="{{comment["id"]}}" name="post_id">
                  <input type="hidden" value="{{comment["comment"]}}" name="comment_id">
                  <input type="file" name="media" accept="image/*|video/*">
                </div>
              </form>
            </div>
          </div>
        </div>
            {% for reply in comment["replies"]%}
            <div class="col-sm-10 offset-sm-2">
              <div class="card border-success mb-3 text-center">
                  <div class="card-header bg-success text-white">
                    <small>reply created by <a href="{{url_for('profile', z_id=reply['user'])}}">{{reply["user"]}}</a> at {{ reply["created_at"]}}</small>
                    {% if reply["user"] == session["current_user"]%}
                      <form style="display:inline;"class="col-sm-3 form-inline" action="{{url_for('delete_reply')}}" method="post">
                        <input type="hidden" value="{{reply["id"]}}" name="reply_id">
                        <button class="btn btn-md btn-danger my-2 my-sm-0" type="submit">Delete</button>
                      </form>
                    {% endif %}
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      {%if reply["media_type"] == "text"%}
                        <p class="card-text">{{ reply["message"]}}</p>
                      {%elif reply["media_type"] == "image"%}
                        <img src="{{url_for('static', filename=reply['content_path'])}}">
                      {%elif reply["media_type"] == "video"%}
                        <video width="320" height="240" controls>
                          <source src="{{url_for('static', filename=reply['content_path'])}}" >
                        </video>
                      {%endif%}
                    </p>
                  </div>
              </div>
            </div>
            {% endfor %}
      {% endfor %}
</div>

{% endblock %}
