{% extends "layout.html" %} {% block body_contents %}
  <!-- USER DETAILS -->
  {% if user_details["background_path"] %}
    <img src="{{url_for('static', filename=user_details['background_path'])}}" height="200px;" width="100%">
  {% endif %}
    <div class="card" style="width: 20rem;">
      <div class="card-header">
        <h3>{{user_details["name"]}}</h3>
      </div>
      <img class="card-img-top" src="{{url_for('static', filename=user_details['image_path'])}}" alt="Card image cap">
      <div class="card-header">
          Details:
      </div>
        <ul class="list-group list-group-flush">
          {% for key, value in user_details.items() %}
              {% if key in public_attrs and value %}
              <li class="list-group-item">
                <b>{{ key }} </b>: {{ value | safe }}
              </li>
              {% endif %}
          {% endfor %}
          {% if profile_z_id == session["current_user"]%}
            <li class="list-group-item">
            <a href="{{url_for('edit_profile', z_id=session["current_user"])}}"><div class="btn btn-info">Edit Profile</div></a>
            </li>
          {% endif %}
          <!-- FRIENDSHIP STATUS  -->
          {% if profile_z_id != session["current_user"]%}
            {% if pending_request %}
              <li class="list-group-item">
              <p class="text-success">You have a pending request from {{user_details["name"]}} </p>
              <a href="{{url_for('addfriend', reference=profile_z_id, friend=session["current_user"])}}">
                <button class="btn btn-md btn-outline-success">Accept</button>
              </a>
              </li>
            {% elif not friendship %}
              <li class="list-group-item">
              <a href={{url_for('friend_request', friend_id=user_details["z_id"])}}>
                <button class="btn btn-md btn-outline-success">Send Friend Request</button>
              </a>
              </li>
            {% elif friendship["accepted"]%}
              <li class="list-group-item">
              <p class="text-success">You and {{user_details["name"]}} are friends</p>
              <form  action={{url_for('removefriend')}} method="post">
                <div class="form-group">
                  <input type="hidden" value="{{profile_z_id}}" name="friend_id">
                  <button class="btn btn-md btn-outline-danger" type="submit">Remove Friend</button>
                </div>
              </form>
              </li>
            {% else %}
              <li class="list-group-item">
              <p class="text-warning">Friend request pending</p>
              <form  action={{url_for('removefriend')}} method="post">
                <div class="form-group">
                  <input type="hidden" value="{{profile_z_id}}" name="friend_id">
                  <button class="btn btn-md btn-outline-danger" type="submit">Cancel Request</button>
                </div>
              </form>
              </li>
            {% endif %}
          {% endif %}
        </ul>
    </div>
  <!-- END USER DETAILS -->
  <h3>{{user_details["name"]}}'s Friends</h3>
  <hr class="colorgraph"><br>

  <!-- LIST FRIENDS -->
  <div class="row">
    {% for friend in friends %}
    <div class="col-xs-4">
    <div class="card" style="width: 20rem;">
      <a href="{{url_for('profile', z_id=friend['z_id'])}}"><img class="card-img-top" src="{{url_for('static', filename=friend['image_path'])}}" width="100px"></a>
      <div class="card-body">
        <p class="card-text"><a href="{{url_for('profile', z_id=friend['z_id'])}}">{{friend["name"]}}</a></p>
        {% if profile_z_id == session["current_user"]%}
          <form  action={{url_for('removefriend')}} method="post">
            <div class="form-group">
              <input type="hidden" value="{{friend["z_id"]}}" name="friend_id">
              <button class="btn btn-md btn-outline-danger" type="submit">Remove Friend</button>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
  <!-- END FRIENDS -->

  <!-- USERS CONTENT -->
  <h3>{{user_details["name"]}}'s Posts</h3>
  <hr class="colorgraph"><br>

  <div class="row">
      {% for pcr in pcrs %}
      <div class="card border-primary mb-3 text-center" style="width:100%;">
        <div class="card-header bg-primary text-white">
          <small>posted at {{ pcr["created_at"]}}. <a href="{{url_for('viewpost', id=pcr["id"])}}">View the full post.</a></small>
        </div>
        <div class="card-body">
          <p class="card-text">
            {%if pcr["media_type"] == "text"%}
              <p class="card-text">{{ pcr["message"]}}</p>
            {%elif pcr["media_type"] == "image"%}
              <img src="{{url_for('static', filename=pcr['content_path'])}}">
            {%elif pcr["media_type"] == "video"%}
              <video width="320" height="240" controls>
                <source src="{{url_for('static', filename=pcr['content_path'])}}" >
              </video>
            {%endif%}
          </p>
        </div>
        <div class="card-footer">
          <form  action={{url_for('newcomment')}} method="post" class="col-sm-3 form-inline" style="margin:0 auto">
            <div class="form-group">
              <button class="btn btn-md btn-warning my-2 my-sm-0" type="submit">Comment</button>
              <input class="form-control" type="text" name="message" placeholder="Enter a Comment" required="true"></input>
              <input type="hidden" value="{{pcr["id"]}}" name="post_id">
            </div>
          </form>
          <form  action={{url_for('newcomment')}} method="post" class="col-sm-3 form-inline" style="margin:0 auto"  enctype="multipart/form-data">
            <div class="form-group">
              <button class="btn btn-md btn-warning my-2 my-sm-0" type="submit">Upload Media Comment</button>
              <input type="hidden" value="{{pcr["id"]}}" name="post_id">
              <input type="file" name="media" accept="image/*|video/*">
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
  </div>

{% endblock %}
