{% extends "layout.html" %}
{% block body_contents %}
<h3>Recommendations are based on students who are in the same courses as you. Click here to <a href="{{url_for('edit_profile', z_id=session["current_user"])}}">edit your courses</a></h3>
<hr class="colorgraph"><br>
{% for user in recommendations%}
  <div class="card" style="width: 20rem;">
    {% if user['image_path'] %}
      <a href="{{url_for('profile', z_id=user['z_id'])}}"><img class="card-img-top" src="{{url_for('static', filename=user['image_path'])}}" width="250px"></a>
    {% endif %}
    <div class="card-body">
      <p class="card-text"><a href="{{url_for('profile', z_id=user['z_id'])}}">{{user["name"]}} ({{user["z_id"]}})</a></p>
      <a href={{url_for('friend_request', friend_id=user["z_id"])}}>
        <button class="btn btn-md btn-outline-success">Send Friend Request</button>
      </a>
    </div>
  </div>
{% endfor %}
{% endblock %}
