{% extends "layout.html" %}
{% block body_contents %}
<div class = "container">
	<div class="wrapper">
		<form action="{{url_for('signup')}}" method="POST" name="Login_Form" class="form-signin">
		    <h3 class="form-signin-heading">Welcome! Please Sign up</h3>
			  <hr class="colorgraph"><br>
				<input type="text" class="form-control" name="name" placeholder="Name" required="true" autofocus="" />
			  <input type="text" class="form-control" name="z_id" placeholder="Z-ID (eg. z5199999)" required="true" autofocus="" />
				<input type="email" class="form-control" name="email" placeholder="Email" required="true" autofocus="" />
				<input type="password" class="form-control" name="password" placeholder="Password" required="true"/>
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Sign up</button>
		</form>
		<a href="{{url_for('login')}}">Already have an account?</a>
	</div>
</div>
{% endblock %}
